body {
  background-color: black;
}

.page {
  max-width: 890px;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 0.8;
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}
