.place {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 17px;
  column-gap: 20px;
  margin: 50px auto 67px auto;
  max-width: 950px;
}

.place__card {
  position: relative;
  width: 282px;
  height: 362px;
  background-color: white;
  border-radius: 10px;
}

.place__image {
  height: 282px;
  width: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.place__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 246px;
  margin: auto;
}

.place__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 1.2;
  font-size: 22px;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.place__like {
  margin-left: 2px;
  cursor: pointer;
}

.place__like:hover {
  opacity: 50%;
}

.place__delete {
  position: absolute;
  left: 245px;
  top: 18px;
  cursor: pointer;
  z-index: 0;
}

@media screen and (max-width: 950px) {
  .place {
    max-width: 585px;
  }
}

@media screen and (max-width: 650px) {
  .place {
    justify-content: center;
  }
}
