.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile__user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__picture-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
}

.profile__picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile__picture-wrapper:hover .profile__picture {
  opacity: 0.2;
}

.profile__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  opacity: 0;
}

.profile__picture-wrapper:hover {
  cursor: pointer;
}

.profile__picture-wrapper:hover .profile__icon {
  opacity: 1;
}

.profile__information {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 30px;
}

.profile__custumise {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.profile__name {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 42px;
}

.profile__profession {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.profile__button {
  background-color: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.profile__button_edit {
  height: 24px;
  width: 24px;
  margin-left: 18px;
  margin-top: 8px;
}

.profile__button_add {
  width: 150px;
  height: 50px;
}

.profile__button_edit:hover,
.profile__button_add:hover {
  opacity: 60%;
}

@media screen and (max-width: 750px) {
  .profile__name {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .profile__profession {
    margin-top: 14px;
  }

  .profile__button_add {
    width: 125px;
    margin-top: 36px;
  }

  .profile__button_edit {
    margin-top: 32px;
  }
}

@media screen and (max-width: 650px) {
  .profile {
    flex-direction: column;
  }

  .profile__user {
    flex-direction: column;
  }

  .profile__information {
    margin: auto;
    text-align: center;
  }

  .profile__name {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .profile__profession {
    font-size: 14px;
    margin-top: 14px;
  }

  .profile__button_add {
    width: 292px;
    margin-top: 36px;
  }

  .profile__button_edit {
    margin-top: 26px;
  }
}
